
*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
  }
  .container{
   width: 100vw;
   height: 100vh;
   display: flex;
  }
  
  .media-card{
    height: 15rem;
    width: 15rem;
    border :1px solid;
  }
  .media-container{
    width: 100%;
    height: 80%;
  }
  
  .action-container{
    width: 100%;
    height: 20%;
    border: 1px solid;
  }
  
  .action-container button{
      width: 100%;
      height: 50%;
      font-size: 1rem;
      outline: none;
      border: none;
  }
  
  .media-download{
      background-color: green;
  }
  
  .media-delete{
      background-color: red;
  }