*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.video-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

video{
    height: 100%;
    width: 100%;
}

#record, #capture{
    position: fixed;
    top: 40vh;
    right:2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
}

#record{
    top: 40vh;
}

#capture{
    top: 50vh;
}