* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

video {
  height: 100%;
  width: 100%;
}

#record,
#capture {
  z-index: 3;
  position: fixed;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  background-color: black;
  border-radius: 50%;
  border: 5px solid white;
}

#record {
  top: 40vh;
}

#capture {
  top: 50vh;
}

#record div,
#capture div {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: auto;
}

#record div {
  background: red;
}

#capture div {
  background: white;
}

.capture-animation {
  animation: inOut 0.5s;
}

.record-animation {
  animation: inOut 1s infinite;
}

@keyframes inOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.filter-container{
  height: 25rem;
  width: 5rem;
  position:fixed;
  left: 2rem;
  top: calc((100vh - 25rem)/2);
  background-color: red;
}

.filters{
  z-index: 3;
  border: 5px solid white;
  width: 100%;
  height: calc(25rem/6);
  background: url(fill.jpg);
  background-size: cover;
  background-blend-mode: soft-light;

}

.zoom-in-out-container{
  z-index: 3;
  height: 10rem;
  width: 5rem;
  position: fixed;
  right: 2rem;
  top: 8rem;
  border: 5px solid white;
}

.zoom-in-out-container div{
  width: 100%;
  height: 50%;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  background-color: rgb(70, 70, 70);
}

.filter div{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}